option_settings:
  -
    namespace: "aws:elasticbeanstalk:application:environment"
    option_name: NODE_ENV
    value: production
  -
    namespace: "aws:elasticbeanstalk:application:environment"
    option_name: NODE_PATH
    value: src
  -
    namespace: "aws:elasticbeanstalk:application:environment"
    option_name: PORT
    value: 8081
